@model PaginatedMvcList<JobOfferMvcViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Oferty Pracy</h1>

<p>
    <a asp-action="Create" class="btn btn-success"><i class="fa fa-plus-circle"></i> Utwórz nową ofertę pracy</a>
</p>
<table class="table table-striped table-bordered table-hover table-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Status")
            </th>
            <th>
                @Html.DisplayName("Pozycja")
            </th>
            <th>
                @Html.DisplayName("Płaca")
            </th>
            <th>
                @Html.DisplayName("Data")
            </th>
            <th>
                @Html.DisplayName("")
            </th>
            <th>
                @Html.DisplayName("")
            </th>
            <th>
                @Html.DisplayName("")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                @if (item.IsAvailable)
                {
                    <td style="background-color:green">
                    </td>
                }
                else
                {
                    <td style="background-color:grey">
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    @item.Date.ToString("dd MMM yyyy")
                </td>
                <td>
                    @Html.ActionLink("Opis stanowiska", "CreateShowDetails", "JobOfferSkill", new { id = item.Id }, null)
                </td>
                <td>
                    @Html.ActionLink("Wymagania", "CreateShowDetails", "JobOfferRequirement", new { id = item.Id }, null)
                </td>
                <td>
                    @Html.ActionLink("Oferujemy", "CreateShowDetails", "JobOfferProposition", new { id = item.Id }, null)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="text-primary"><i class="fa fa-edit fa-lg"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="text-info"><i class="fa fa-info-circle fa-lg"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="text-danger"><i class="fa fa-minus-circle fa-lg"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>